

body {
  /* background-image: url("../images/background.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%; 
 
}

body {


  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1b1b30;
}
.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
}


.heading {
  background-color: #19164d;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}
.heading h2{
  font-family: 'Great Vibes', Bold;

  font: 25px Arial, sans-serif;
  color:  rgb(255, 255, 255);
  text-align: center;

}

header {
  float: left;
  width: 280px;
  height: auto;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 0 0 6px 0;
  padding: 10px;
  margin-right: 10px;
  
}

h1 {
  font-family: 'Great Vibes', Bold;
  font-size: 52px;
  color: #22224d;
  margin: 10px 0;
}
h5{
  font-size: 16px;
  text-align: center;
}
/* #book-title h1 {
  font-size: 32px;
  text-align: center;

} */

ul {
  padding: 0;
}

li {
  list-style: none;
}

nav ul {
  margin-left: 15px;
}

nav ul li {
  padding: 5px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #f1a458;
  color: #fff;
}

main {
  float: left;
  margin-left: 50px;
  width: 600px;
}

.book-details h2 {
  font-size: 32px;
  text-align: center;
}

.book-details h3 {
  font-size: 24px;
  text-align: center;
}
 .book-details #delete-book{
  text-align: center ;

  border: none;
  font-size: 16px;
  font-weight: 600;
  
  color: rgb(21, 9, 54);
  padding: 7px 10px;
  cursor: pointer;

 }

  .margin-flex {
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #1b2450;
    color: rgb(247, 240, 240);
    padding: 7px 10px;
    cursor: pointer;
  }

.book-details img {
  display: block;
  height: 400px;
  margin: 0 auto 25px auto;
}

.description, .review-form {
  width: 450px;
  margin: 0 auto 50px auto;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.description button, input[type="submit"] {
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #423b72;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

.reviews li {
  background-color: #fff3a9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* #character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
} */